@import "../../styles/variables";

.nav {
  background-color: $primary-clr;
  border-bottom: 1px solid $accent-clr;
  padding: $spacer / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: $max-nav-height;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 100;

  .image {
    display: flex;
    align-items: center;
  }

  .nameLink {
    margin-left: $spacer;
    color: $secondary-clr;
    font-size: $fs-l;
    text-decoration: none;
    justify-self: flex-start;
    margin: 0;
    letter-spacing: 1px;

    span {
      color: $accent-clr;
    }
  }
}

.navHidden {
  opacity: 0;
}
