@import "variables";

.href {
  text-decoration: none;
  color: $secondary-clr;
}
.educationItem {
  margin: $spacer-lg auto;
  padding: $spacer;
  border: 2px dashed $secondary-clr;
  border-radius: $br;
  transition: all 0.2s ease-in-out;
  width: min(90vw, 600px);

  &:hover {
    cursor: pointer;
    border: 2px solid $accent-clr;
    transform: scale(1.01) translateY(-2px);
    --_p: 100%;
  }

  h3 {
    margin-bottom: $spacer;
    display: inline-block;
    width: max-content;

    --s: 0.5em; /* the thickness of the line */
    --c: #2c4bff; /* the color */

    background: linear-gradient(90deg, var(--c) 50%, #000 0)
        calc(100% - var(--_p, 20%)) / 200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 20%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
  }

  h4 {
    font-size: $fs-m;
    font-weight: $fw-b;
    margin: $spacer 0;
  }

  ul {
    display: grid;
    grid: auto / repeat(3, 1fr);
  }

  li {
    margin: $spacer / 4 0;
    opacity: $fo;
  }
}

@media screen and (min-width: 768px) {
  .educationItem {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .curriculumContainer {
    margin-top: auto;
  }
}
