@import "variables";

.socialMediaMenu {
  position: fixed;
  top: 20%;
  background-color: $secondary-clr;
  padding: $spacer;
  border-top-right-radius: $br;
  border-bottom-right-radius: $br;
  display: flex;
  flex-direction: column;
  gap: $spacer;
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.socialMediaMenuOpenButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  background-color: $secondary-clr;
  opacity: 0.5;
  position: fixed;
  top: 12%;
  border-top-right-radius: $br;
  border-bottom-right-radius: $br;
  z-index: 100;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.hidden {
  transform: translateX(-100vw);
}

.visible {
  transform: translateX(0);
}

.buttonHidden {
  opacity: 0;
}
