@import "variables";

.socialMediaMenu {
  position: fixed;
  top: 20%;
  background-color: $secondary-clr;
  padding: $spacer;
  border-top-right-radius: $br;
  border-bottom-right-radius: $br;
  display: flex;
  flex-direction: column;
  gap: $spacer;
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.socialMediaBtn {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  position: fixed;
  top: 12%;
}

.rotate {
  transform: rotate(180deg);
}

.hidden {
  transform: translateX(-100vw);
}

.visible {
  transform: translateX(0);
}

.buttonHidden {
  opacity: 0;
}
