@import "variables";

.dropdown {
  position: absolute;
  width: 400px;
  top: 82px;
  background-color: $secondary-clr;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $spacer;
  padding: $spacer;
  border-top-left-radius: $br;
  border-bottom-left-radius: $br;
  transition: all 0.3s ease-in-out;

  a {
    font-size: $fs-m;
    font-weight: $fw-b;
    text-decoration: none;
    color: $primary-clr;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: blue;
      transform: translateY(-2px);
    }
  }
}

.visible {
  transform: translateX(50vw);
}

.hidden {
  transform: translateX(150vw);
}
