@import "variables";

html {
  font-family: $ff;
  background-color: $primary-clr;
  color: $secondary-clr;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding-top: $max-nav-height;
}

::selection {
  background-color: $accent-clr;
  color: $primary-clr;
}

section {
  min-height: 100vh;
  padding: $spacer;

  h2 {
    font-size: $fs-1;
    font-weight: $fw-b;
    text-align: center;
  }
}

section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: $fs-l;
}

h3 {
  font-size: $fs-l;
  font-weight: $fw-m;
}

a:hover {
  cursor: pointer;
}

p {
  line-height: $lh-p;
}
