@import 'variables';

html {
  font-family: $ff;
  background-color: $primary-clr;
  color: $secondary-clr;
  overflow-x: hidden;
}

body {
  padding-top: $max-nav-height;
}

section {
  min-height: 100vh;
  border-bottom: 1px solid $accent-clr;
  padding: $spacer;

  h2 {
    font-size: $fs-2;
    font-weight: $fw-b;
    text-align: center;
  }
}

h2 {
  font-size: $fs-l;
}

h3 {
  font-size: $fs-l;
  font-weight: $fw-m;
}

a:hover {
  cursor: pointer;
}
